body{
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;

}
.header{
    background: white;
    /* color: blue; */
    padding: 3px 20px;
    list-style:none;
    box-shadow: 0px 1px 10px 1px #888888;

}

.header-items{
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid red; */
    width: 30vw;
    height: 40px;
    align-items:center;
    margin: 0px 100px 0px auto;
     
 }
 .link{
    padding: 10px 20px;
    /* background: green; */
    margin-left: 20px;
}
.link a { 
    color:black;
    text-decoration:none;  
}
.link a:hover{
    color:red;
}

.box{
    background:white;
    width: 35vw;
    height: 60%;
    /* border: 2px solid gray; */
    border-radius: 10px;
    position: fixed;
    top: 30vh;
    left: 30vw;
    padding: 10px 20px;
    box-shadow: 0px 3px 10px 1px #888888;
    
   
}

.input-format {
    background: rgb(247, 244, 244); 
    border: none;
    height: 30px;
    width: 300px;
    padding-left: 10px;

    font-family: 'Asap', sans-serif;
}


.box p{
    display:flex; 
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;

}

.box .text-area{
    margin-top: 17px;
    align-items: baseline;
       
}
.largearea {
    padding-top:10px;
    height: 60px;
}

.button {
    background: white;
    border: 2px solid red;
    border-radius:5px;
    color:red;
    width: 120px;
    height: 35px;

    position: absolute;
    bottom: 20px;
    right: 20px;
 
}
.button:hover{
    background: red;
    border:none;
    color:white;
    box-shadow: 0px 3px 10px 1px #888888;
  
}
article {
    margin-top: 50px;
    margin-bottom:0;
    text-align:center;

}

h2 {
    font-weight:lighter;
    font-size: 18px;
}
.checkbox{
    margin-left:300px;
}
.radio-items{
    display:flex;
    flex-direction:row;

    
    position:relative; 
    top:-15px;
    left: 250px;
    

}
sup{
    color:red;
}
.required{
    font-size: 12px;
}
.background{
    position:fixed;
    left:-350px;
    width: 5000px;
    height: 5000px;
    background:linear-gradient(to right, rgb(255, 85, 85) 1%, rgb(255, 170, 170) 10%);
    transform:rotate(75deg);
   
        
}